<!DOCTYPE html>
<html>
  <head>

    <style media="screen">

      * {
        box-sizing: border-box;
      }

      body {
        background-color: #FAFBFC;
        font-family: 'Open Sans', sans-serif;

      }

      h1 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;

      }

      .section {
        width: 1000px;
        margin: 0 auto;
      }

      .article {
        width: 450px;
        margin: 10px;
      }

      .footer{
        font-family: 'Open Sans', sans-serif;
        text-align: right;
      }



    </style>
    <meta charset="utf-6">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/user.js" type="text/javascript">

    </script>
    <title></title>
  </head>
  <body>
    <% provide(:title, @user.name) %>
    <div class="user-profile">
      <section class="user-info">
        <h1>mybudg profile</h1><br>

        <article class="info">
          <table id="user"></table>
        </article>

        <article class="exp-info">
          <table id="expenses"></table>
        </article>

        <article class="bill-info">
          <table id="bills"></table>
        </article>

        <div class="footer">
          <h3><%= link_to "add expenses", new_expense_path(current_user) %> |
          <%= link_to "add bills", new_bill_path(current_user) %></h3>
        </div>
      </section>
    </div>
        <script>
          $(document).ready(function(){
            const url = window.location.href;
            fetch(url, { headers :
              { 'Content-Type': 'application/json',
                'Accept': 'application/json' }
                })
                .then(res => res.json())
                .then(json => userCont(json));

              function userCont(json) {
                var formatter = new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'USD',
                  minimumFractionDigits: 2,
                });
                let income = formatter.format(json.income);
                let afterTax = Math.floor(json['income']*=.65);
                let monthly = Math.floor(afterTax/12);

                let afterTaxF = formatter.format(afterTax);
                let monthlyF = formatter.format(monthly);


                const userInfo =
                `<tr>
                  <th colspan="6">${json.name}</th>
                </tr>
                <tr>
                <td> email: </td><td>${json.email}</td>
                </tr>
                <tr>
                <td> password: </td><td> *********** </td>
                </tr>
                </tr>
                <td> zipcode: </td><td>${json.zipcode}</td>
                <tr>
                </tr>
                <td> annual income: </td><td>${income}</td>
                <tr>
                </tr>
                <td> after-tax income: </td><td>${afterTaxF}</td>
                <tr>
                </tr>
                <td> monthly gross income: </td><td>${monthlyF}</td>
                <tr>`;
                $('#user').append(userInfo);

                let list = json['expenses'];

                let listB = json['bills'];

                let eTotal = 0;

                list.forEach(e => {
                  let exp =
                  `<tr><th>${e.name}</th></tr>
                  <tr><td> type: </td><td>${e.expense_type}</td></tr>
                  <tr><td> cost: </td><td>${e.cost}</td></tr>`;
                  $('#expenses').append(exp);
                  eTotal+=(parseInt(e['cost']));
                  let esum = formatter.format(eTotal);
                  $('#expenses').append`<tf id="exp-tf"> total expenses: ${esum} </tf>`;
                })

                let bTotal = 0;

                listB.forEach(b => {
                  let bills =
                  `<tr><th>${b.company}</th></tr>
                  <tr><td> type: </td><td>${b.bill_type}</td></tr>
                  <tr><td> cost: </td><td>${b.cost}</td></tr>`;
                  $('#bills').append(bills);
                  bTotal+=(parseInt(b['cost']));
                  let sum = formatter.format(bTotal);
                  $('#bills').append`<tf id="bill-tf"> total bills: ${sum} </tf>`;
                })
              }
            })


        </script>


  </body>
</html>
