
<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      body {
        background-color: #FAFBFC;
      }
      h1 {
        font-family: 'Lora', serif;
        color: #808080;
        margin: 35px;
      }
      p {
      font-family: 'Open Sans', sans-serif;
      color: #808080;
      margin-left: 35px;
      margin-right: 35px;
      }
    </style>
    <title></title>
  </head>
  <body>
    <div class="about">
      <h1>StaticPages#about</h1>
      <p>Find me in app/views/static_pages/about.html.erb</p>
    </div>

  </body>
</html>
