<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      body {
        background-color: #FAFBFC;
      }
      h1 {
        font-family: 'Lora', serif;
        color: #808080;
        margin: 35px;
      }
      p {
      font-family: 'Open Sans', sans-serif;
      color: #808080;
      margin-left: 35px;
      margin-right: 35px;
      }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>StaticPages#help</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>
  </body>
</html>
