<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merienda|Norican|Sue+Ellen+Francisco|Satisfy|Patrick+Hand+SC|Bad+Script|Cookie|Fredericka+the+Great|Monoton|Arima+Madurai|Bungee+Outline|Caveat|Croissant+One|Delius+Unicase|Ewert|Fredericka+the+Great|Homemade+Apple|Leckerli+One|Open+Sans|Petit+Formal+Script|Raleway|Roboto|Rouge+Script|Sacramento|Sofia" rel="stylesheet">
  <style media="screen">
    /*----- GENERAL SETTINGS ------*/
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0 auto;
      color: #263675;
      background-color: #EEEEF7;
    }
    button:focus {
      outline: 0;
    }
    /* ------ */

    /*----- NEWS NAV BAR AND TITLE -----*/
    #news-nav {
      background-color: inherit;
      width: 100%;
    }
    #bloomberg, #nyt, #wsj {
      width: 33%;
      display: inline-block;
      color: #000033;
      text-align: center;
      padding: 1.5vw;
      text-decoration: none;
      font-size: 1.5vw;
      font-family: 'Rock Salt', cursive;
      font-weight: 100;
      letter-spacing: 1px;
      border-bottom: solid;
      border-bottom-width: thin;
      border-color: lightgrey;
    }
    #latest {
      font-family: avenir next;
      font-size: 3vw;
      color: #77778E;
      text-align: center;
      text-shadow: none;
      letter-spacing: .5vw;
      padding: 3vw 2vw;
      font-weight: 100;
    }
    /* ------ */

    /*----- NEWS ARTICLES -----*/
    .story {
      clear: both;
      background-color: white;
      overflow: auto;
      padding: 1vw;
      margin-bottom: 2vw;
    }
    .storyimage {
      width: 50%;
      height: auto;
      float: left;
      padding: 2vw;
    }
    .title {
      width: 100%;
      font-family: 'Rock Salt', cursive;
      font-size: 1.25vw;
      letter-spacing: .1vw;
      text-align: center;
      color: grey;
      line-height: 2;
      border-bottom: solid;
      border-color: lightgrey;
      border-bottom-width: thin;
      padding: 2vw;
    }
    .storytext {
      padding: 3vw;
    }
    .storytext h3, p {
      display: inline-block;
      width: 50%;
      font-family: avenir next;
      font-weight: 100;
      font-size: 1.5vw;
    }
    .container {
      width: 100%;
      padding: 3vw 14vw 2vw 14vw;
    }

    /* ------ */
    </style>
  <body>
    <ul id="news-nav">
      <li id="bloomberg" type="li">bloomberg</li>
      <li id="wsj" type="li">wall street journal</li>
      <li id="nyt" type="li">new york times</li>
    </ul>
    <h1 id="latest">the latest</h1>
    <main>
    </main>
  </body>
    <script type="text/javascript">
// Page Elements
      const bloomberg = document.getElementById('bloomberg');
      const wsj = document.getElementById('wsj');
      const nyt = document.getElementById('nyt');
      const main = document.getElementsByTagName('main')[0];
// News API Data
      const apiKey = 'da8f768c619e4244a9dc5a9dd5a799a3';
      const bloombergUrl = 'https://newsapi.org/v2/top-headlines?sources=bloomberg&apiKey=da8f768c619e4244a9dc5a9dd5a799a3';
      const wsjUrl = 'https://newsapi.org/v2/top-headlines?sources=the-wall-street-journal&apiKey=da8f768c619e4244a9dc5a9dd5a799a3';
      const nytUrl = 'https://newsapi.org/v2/top-headlines?sources=the-new-york-times&apiKey=da8f768c619e4244a9dc5a9dd5a799a3';

      async function getNews(url) {
      	let response = await fetch(url);
        let jsonResponse = await response.json();
        let articlesArray = jsonResponse.articles.slice(0, 5);
      	return articlesArray;
      }
// Render Function
      function renderNews(articles) {
        articles.map((article, index) => {
          let articleRow =
            '<div class="articlerow">' +
            ' <div class="story">' +
            '   <h2 class="title">' + article.title + '</h2>' +
            '   <img class="storyimage" src="' + article.urlToImage + '" />' +
            '   <div class="storytext" >' +
            '     <h3>By ' + article.author + '</h3>' +
            '     <p> ' + article.description + '</p>' +
            '     <a href="' + article.url + '" target="_blank" class="readmore"><p>more</p></a>' +
            '   </div>' +
            ' </div>' +
            '</div>';
          main.innerHTML += articleRow;
        });
        return articles;
      }
// Button Event Listeners
      $(document).ready(function() {
        main.innerHTML = ' ';
          getNews(bloombergUrl).then(articlesArray => renderNews(articlesArray))
      });

      bloomberg.addEventListener('click', function() {
        main.innerHTML = ' ';
      		getNews(bloombergUrl).then(articlesArray => renderNews(articlesArray))
      }, false);

      wsj.addEventListener('click', function() {
        main.innerHTML = ' ';
        getNews(wsjUrl).then(articlesArray => renderNews(articlesArray))
      }, false);

      nyt.addEventListener('click', function() {
        main.innerHTML = ' ';
      	getNews(nytUrl).then(articlesArray => renderNews(articlesArray))
      }, false);
    </script>
  </body>
</html>
