<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      body {
        background-color: #FAFBFC;
        text-align: center;
      }
      h1 {
        font-family: 'Sacramento', cursive;
        color: #808080;
        margin: 35px;
        font-size: 75px;
      }
      p {
        font-family: 'Sacramento', cursive;
      color: #808080;
      font-size: 45px;
      margin-left: 35px;
      margin-right: 35px;
      letter-spacing: 2.5px;
      }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br>
    <br>
    <h1>welome to mybudg</h1><br>
    <p><em>helping you with your grown-up shit</p>

  </body>
</html>
