<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Merienda|Norican|Sue+Ellen+Francisco|Satisfy|Patrick+Hand+SC|Bad+Script|Cookie|Fredericka+the+Great|Monoton|Arima+Madurai|Bungee+Outline|Caveat|Croissant+One|Delius+Unicase|Ewert|Fredericka+the+Great|Homemade+Apple|Leckerli+One|Open+Sans|Petit+Formal+Script|Raleway|Roboto|Rouge+Script|Sacramento|Sofia" rel="stylesheet">


  <style media="screen">
  }

  form {
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: left;
    color: #001933;
    padding: 5px;
  }

  i {
    padding: 5px;
  }

#bloomberg, #nyt, #wsj {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Stardos Stencil', cursive;
    font-weight: 100;
    letter-spacing: 1px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: lightgrey;
  }

  button:focus {
    outline: 0;
  }
    * {
      box-sizing: border-box;
    }

      body {
      font-family: 'Assistant', sans-serif;
      margin: 0 auto;
      color: #263675;
      background-color: #EEEEF7;
    }

    h1, h2 {
      font-family: 'Stardos Stencil', cursive;
      letter-spacing: 1.5px;
      font-weight: lighter;
      text-shadow: 2px 2px white;
      color: grey;
      text-align: center;
      margin-top: 100px:

    }

    h1 {
      margin-top: 35px;
      font-size: 44px;
      margin: 50px;

    }

    h2 {
      margin-bottom: 40px;
      border-bottom: solid;
      border-color: lightgrey;
      border-bottom-width: thin;
      padding: 15px;
    }

    img {
      width: 450px;
      height: auto;
      margin: 50px;
      float: left
    }

    h3, p {
      display: inline-block;
      width: 50%
    }

    .article {
      clear: both;
      min-height: 550px;
    }

    .logo {
      color: #263675;
    }

    #news-nav {
      background-color: inherit;
      margin-bottom: 120px;
    }

    </style>



  <body>
    <ul id="news-nav">
      <li id="bloomberg" type="li">bloomberg</li>
      <li id="wsj" type="li">wall street journal</li>
      <li id="nyt" type="li">new york times</li>
    </ul>
    <h1>the latest</h1>

    <main>

    </main>
    <script src="index.js"></script>
  </body>
    <script type="text/javascript">
          // Page Elements

      const bloomberg = document.getElementById('bloomberg');
      const wsj = document.getElementById('wsj');
      const nyt = document.getElementById('nyt');
      const main = document.getElementsByTagName('main')[0];

      // News API Data

      const apiKey = 'da8f768c619e4244a9dc5a9dd5a799a3';
      const bloombergUrl = 'https://newsapi.org/v2/top-headlines?sources=bloomberg&apiKey=da8f768c619e4244a9dc5a9dd5a799a3';
      const wsjUrl = 'https://newsapi.org/v2/top-headlines?sources=the-wall-street-journal&apiKey=da8f768c619e4244a9dc5a9dd5a799a3';
      const nytUrl = 'https://newsapi.org/v2/top-headlines?sources=the-new-york-times&apiKey=da8f768c619e4244a9dc5a9dd5a799a3';

      async function getNews(url) {
      	let response = await fetch(url);
        let jsonResponse = await response.json();
        let articlesArray = jsonResponse.articles.slice(0, 5);
      	return articlesArray;
      }

      // Render Function

      function renderNews(articles) {
        articles.map((article, index) => {
          let articleRow =
            '<div class="articlerow">' +
            ' <div class="article">' +
            '   <h2 class="title">' + article.title + '</h2>' +
            '   <img class="storyimage" src="' + article.urlToImage + '" />' +
            '   <h3>By ' + article.author + '</h3>' +
            '   <p> ' + article.description + '</p>' +
            '   <a href="' + article.url + '" target="_blank" class="readmore"><p>more</p></a>' +
            ' </div>' +
            '</div>';

          main.innerHTML += articleRow;
        });
        return articles;
      }
      // Button Event Listeners
      $(document).ready(function() {
        main.innerHTML = ' ';
          getNews(bloombergUrl).then(articlesArray => renderNews(articlesArray))
      });

      bloomberg.addEventListener('click', function() {
        main.innerHTML = ' ';
      		getNews(bloombergUrl).then(articlesArray => renderNews(articlesArray))
      }, false);

      wsj.addEventListener('click', function() {
        main.innerHTML = ' ';
        getNews(wsjUrl).then(articlesArray => renderNews(articlesArray))
      }, false);

      nyt.addEventListener('click', function() {
        main.innerHTML = ' ';
      	getNews(nytUrl).then(articlesArray => renderNews(articlesArray))
      }, false);

    </script>
  </body>
</html>
