<h1>my expenses</h1>
  <form class="expenses" action="/expenses" method="delete">
    <% @expenses.current_user.each do |b| %>
    <p><%= b.company %></p>
    <p><%= b.type %></p>
    <p><%= b.cost %></p>
    <%= input type="submit", "delete expense" %>
    <% end %>
  </form>
</div>
