 html {
   background-color: #EEEEF7;
 }

  div {
   margin: 0;
   padding: 0;
 }

 body {
   border-left: solid;
   border-right: solid;
   border-color: white;
 }


.logo {
  text-align: left;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 75px;
  color: #263675;
  margin-bottom: 40px;
  margin-left: 30px;
  text-shadow: 3px 3px white;


}

.nav {
}

header {
  background-color: #EEEEF7;
  margin: 40px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ECBCBC;

}

li {
    float: right;

}

li a {
    display: block;
    color: #263675;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Stardos Stencil', cursive;
    font-weight: 100;
    letter-spacing: 1px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-color: #263675;

}

li a:hover {
  text-decoration: none;

}


h1 a:hover {
  text-decoration: none;
  color: black;
}

h1 a:visited {
  color: #263675;
}
