 html {
   background-color: #FAFBFC;
 }

  div {
   margin: 0;
   padding: 0;
 }

 .nav {

 .logo {
  text-align: left;
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
  color: #263675;
  margin-bottom: 15px;
  margin-left: 20px;
  text-shadow: 2px 2px #white;


}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DE9EA0;
}

li {
    float: right;

}

li a {
    display: block;
    color: #263675;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;



}

li a:hover {
  background-color: #ECAEB0;
}

h1 a:hover {
  text-decoration: none;
  color: #black;
}

h1 a:visited {
  color: #003366;
}


}
